extends layout/app.pug

block vars
  - const meta = {
  -   title: 'API | VeeValidate',
  -   description: 'Classes Public API'
  - };

block content
  include:markdown-it(html=true langPrefix="highlight-") markdown/api/v-validate.md
  include:markdown-it(html=true langPrefix="highlight-") markdown/api/data-attributes.md
  include:markdown-it(html=true langPrefix="highlight-") markdown/api/render-errors.md
  include:markdown-it(html=true langPrefix="highlight-") markdown/api/error-bag.md

  include:markdown-it(html=true langPrefix="highlight-") markdown/api/validator.md
  +example('ValidatorExample')
    validator-example
